@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans';
}
.logo{
    margin-right: 35px;
}
nav{
   display: flex;
   justify-content: space-between;
   padding: 0px 60px;
   height: 105px;
   border-bottom: 2px solid rgba(192, 192, 192, 0.39);
   align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-left: 35px;
    margin-right: 35px;
    list-style-type:none;
    font-style: normal; 
}
nav li a{
    text-decoration:none;
    color: #1D253C;
}
nav li a:active{
    color: teal;
}
nav .list1{
    display: flex;
}
nav .list2 li{
    padding: 10px 20px;
}
nav .list2 .price{
    border: 2px solid rgba(192, 192, 192, 0.39);
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
}
.text1{
    color: #F46752 !important;
    text-transform: uppercase !important;
    font-size: 85% !important;
}
.text2{
    color: #5A6482;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    font-style: normal;
    padding-top: 25px;
    padding-bottom: 25px;
}
h1{
    color: #1D253C;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}
.section1{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.block1{
    display: flex;
    flex-direction: column;
    font-size: 180%;
    position: relative;
    z-index: 1;
    top: 150px;
    left: 150px;
}
.block1 button{
    width: 200px;
    background-color:#F46752;
    border-radius: 5px;
    border: 1px solid #F46752;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Work Sans';
    padding: 20px;
}
.block1 button a{
    text-decoration: none;
    color: white;
}
.block2{
    position: relative;
    z-index: 2;
}
.section2{
    height: 80vh;
    margin-top: 25px;
    background-color: #F9F5F2;
    padding: 30px;
}
.sect2, 
.sect3, 
.sect6{
    display: flex;
    justify-content: center;
}
.block3 img{
    background-color: white;
    padding: 50px;
}
.block3,
.block12{
    width: 50%;
    text-align: start;
    position: relative;
    padding: 50px;
}
.block4,
.block5,
.block13{
    width: 50%;
    font-size: 130%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.block4 .but{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Work Sans';
}
.block4 .but a{
    text-decoration: none;
    color: teal;
}
.section3{
    height: 90vh;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
}
.block5 .but{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Work Sans';
}
.block5 .but a{
    text-decoration: none;
    color: teal;
}
.block6{
    width: 50%;
    text-align: start;
    position: relative;
    padding: 50px;
}
.landing1{
    position: relative;
    top: 7%;
    left: -10%; 
    z-index: 1;
}
.rectangle1{
    position: relative;
    z-index: 2;
}
.text3{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67px;
    width: 350px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    position: relative;
    top: -7%;
    left: -10%; 
    z-index: 3;
}
.text3 p{
    color: #1D253C;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
}
.section4{
    height: 95vh;
    margin-top: 140px;
    padding: 30px;
    background-color: #F8F8F8;
}
.block7,
.block9{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.umb{
    height: 180px;
    margin-top: -130px;
    z-index: 99;
}
.block7 .text,
.block9 .text{
    width: 55%;
    text-align: center;
}
.block8{
    display: flex;
    justify-content: space-evenly;
}
.card1,
.card2,
.card3{
    width: 250px;
    height: 250px;
    background-color: white;
    padding: 50px;
    text-align: center;
}
.card1 h4,
.card2 h4,
.card3 h4{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color:#1D253C;
}
.card1 img{
    margin-bottom: 28%;
}
.card3 img{
    margin-bottom: 10%;
}
.card1 p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #5A6482;
}
.card2 p{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    color: #5A6482; 
}
.card3 p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #5A6482;
}
.card1 a{
    color: #1D253C;
}
.section5{
    height: 100vh;
    padding: 30px;
    padding-top: 0;
    background-color:#363839;
}
.dog{
    display: inline;
    /* justify-content: end; */
    position: relative;
    left: 89.5%;
    top: -21%;
}
.block9{
    margin-top: -8%;
}
.block9 .text p{
    color: #ACB4BF;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
}
.block9 h1{
    color: white;
}
.path{
    width: 85%;
    position: relative;
    left: 17%;
    z-index: 1;
    text-align: center; 
}
.path .img1{
    position: relative;
    top: -30px;
}
.path .img2{
    height: 180px;
    /* width: 180px; */
}
.cards{
    position: relative;
    top: -150px;
    z-index: 2;
    display: flex;
    justify-content: center;
}
.card4,
.card5,
.card6{
    width: 250px;
    height: 50px;
    padding: 50px;
    text-align: center;
}
.card4 h4,
.card5 h4,
.card6 h4{
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 22px; 
    line-height: 52px;
    text-align: center;
}
.card4 p,
.card5 p,
.card6 p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ACB4BF;;
}
.card4 .disk,
.card5 .disk,
.card6 .disk{
    position: relative;
    left: 10%;
    top: -3%;
    z-index: 1;
}
.card4 .numb,
.card5 .numb,
.card6 .numb{
    position: relative;
    right: 10%;
    z-index: 2;
}
.card4 .rain{
    position: relative;
    top: -120%;
    left: -20%;
}
.card5 .rain{
    position: relative;
    top: -70%;
    left: -40%;
}
.block11{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.but1{
    width: 200px;
    background-color:#F46752;
    border-radius: 5px;
    border: 1px solid #F46752;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Work Sans';
    padding: 20px; 
}
.but1 a{
    text-decoration: none;
    color: white;
}
.section6{
    height: 100vh;
    background-color: #F9F5F2;
    padding: 30px;
}
.block13 .but{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Work Sans';
}
.block13 .but a{
    text-decoration: none;
    color: teal;
}
.landing2{
    position: relative;
    top: 7%;
    left: -7%; 
    z-index: 1;
}
.rectangle2{
    position: relative;
    z-index: 2;
}
.text4{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67px;
    width: 350px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    position: relative;
    top: -7%;
    left: 18%; 
    z-index: 3;
}
.text4 p{
    color: #1D253C;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
}
.section7{
    height: 75vh;
    padding: 30px;
}
.block14{
    height: 75vh;
    display: grid;
    grid-template-areas: 
    'area1 area2 area3 area4';
    justify-content: space-evenly;
    align-items: center;
}
.block14 > div{
    padding: 20px;
}
.block14 a{
    text-decoration: none;
}
.card7{
    grid-area: area1;
    width: 260px;
    height: 323px;
    background-color: rgba(169, 216, 255, 0.3);
}
.card7 h4{
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
    color: #7CAFDD;
}
.card7 a p{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #7CAFDD;
}
.card8{
    grid-area: area2;
    width: 260px;
    height: 323px;
    background-color: rgba(255, 174, 104, 0.3);
}
.card8 h4{
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 42px;
    color: #E79751;
}
.card8 a p{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #E79751;
}
.card9{
    grid-area: area3;
    width: 260px;
    height: 323px;
    background-color: rgba(250, 82, 64, 0.3);
}
.card9 h4{
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
    color: #FA5240;
}
.card9 a p{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FA5240;
}
.card10{
    grid-area: area4;
    width: 260px;
    height: 323px;
    background-color: rgba(18, 111, 133, 0.3);;
}
.card10 h4{
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 42px;
    color: #126F85;
}
.card10 a p{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #126F85;
}
.card7 p,
.card8 p,
.card9 p,
.card10 p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
}
.card7 div.but,
.card8 div.but,
.card9 div.but,
.card10 div.but{
    display: flex;
    justify-content: start;
    align-items: center;
}
.card7 div.but img,
.card8 div.but img,
.card9 div.but img,
.card10 div.but img{
    padding-left: 15px;
}
.card7,
.card8,
.card9,
.card10{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.section8{
    height: 50vh;
    background-color:  #E5F3FE;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.section8 .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section8 .foto1,
.section8 .foto2{
    width: 300px;
    height: 450px;
    display: flex;
    align-items: flex-end;
}
.section8 h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.section8 p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #676562;
}
.section8 .but1{
    margin-top: 50px;
    margin-bottom: 50px;
}
footer{
    font-family: 'Roboto', sans-serif;
}
.section9{
    height: 30vh;
    padding: 50px 100px 50px 100px;
}
.block15{
    display: flex; 
}
.block15 .part1{
    width: 40%;
    padding-left: 50px;
    padding-right: 50px;
}
.block15 .part1 .text2{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
}
.inp input[type=text]{
    padding: 16px;
    border: 1px solid silver;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.but2{
    padding: 16px;
    border: 1px solid #126F85;
    background-color: #126F85;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
}
.but2 a{
    color: white;
    text-decoration: none;
    font-family: 'Work Sans';
}
.but2 img{
    padding-left: 5px;
}
.block15 .part1 .links{
    margin-top: 30px;
    width: 210px;
    display: flex;
    justify-content: space-between;
}
.block15 .part2{
    width: 60%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-around;
}
.block15 .part2 .info1{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 39px;
   text-transform: uppercase;
   color: #1D253C;
}
.block15 .part2 ul{
    list-style-type: none;
}
.block15 .part2 ul li a{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #5A6482;
}
.section10{
    height: 10vh;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section10 button{
    border: 2px solid rgba(29, 37, 60, 0.2);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 17px 10px 17px;
}
.section10 button a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #1D253C;
    text-decoration: none;
}



    



